/* responsive deisgn -----------------------------------------------------------------------------------------------00000000000 */


@media screen and (max-width: 576px) {
  .container {
    width: 92%;
    overflow: hidden;
  }
  .MenuBTN {
    display: inline-block;
  }

  .navItems {
    display: none;
  }
  .banner {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .banner > * {
    width: 100%;
  }
  table {
    width: 300px;
  }
  .gridForm > input,
select {
  font-size: 10px;
}
  .btnss {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50x;
  }
  .btnss > button {
    width: 48%;
    padding: 15px;
  }

  .bannerDetails > h1 {
    font-size: 3em;
  }

  .BannerVideos {
    bottom: 80px;
    
  }
  .BannerVideos2 {
    top: 80px;
    bottom: auto;
    align-items: start;
    right: 30px;
  }

  .personeBuilder {
    flex-direction: column;
  }

  .runExtra> .img {
    width: 100% ;
  }
  .runExtra {
    gap: 20px;
    justify-content: space-between;
    flex-direction: column;
  }

  .runExtra > div {
    width: 100%;
  }
  .runDetails {
    gap: 30px;
  }
  .runDetails> button {
    width: 100%;
    margin: 0;

  }

  /* calculator */
  .calculator > div>div {
    width: 100%;
    /* background-color: red; */
  }
  .calculator > div {
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);
  }

  /* meet our team */
  .allMember{
    
    grid-template-columns: repeat(1, 1fr);
    
  }

 /* footer */
 footer > div{
  flex-direction: column;
  gap: 20px;
}
footer{
  padding-top: 100px;
}
footer > div>div a{
  color: gray;
 
}
footer > div>.footer_div2{
  display: flex;
  gap: 10px;
  flex-direction: column;

}

footer>div>div{
  width: 100%;
}

.extra_div{
 
  text-align: start;
}

.servicesAll{
  flex-direction: column;

  justify-content: center;
  gap: 50px;
  
}

}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 540px;
    overflow: hidden;
  }
  .banner {
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .runExtra {
    gap: 50px;
    justify-content: space-between;
    flex-direction: column;
  }
  .runExtra > div {
    width: 100%;
  }
  .banner > * {
    width: 100%;
  }
  .calculator > div {
    flex-direction: column;
  }

 
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 720px;
    overflow: hidden;
  }
  .bannerDetails > h1 {
    font-size: 3em;
  }
  .BannerVideos {
    top: 220px;
    bottom: auto;
  }
  .BannerVideos2 {
    top: 80px;
    bottom: auto;
    right: 20px;
  }

  .calculator > div {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
    overflow: hidden;
  }
  .bannerIMG {
    transform: translateX(100px);
  }
  .bannerDetails > h1 {
    font-size: 4em;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    overflow: hidden;
  }
  .bannerIMG {
    transform: translateX(100px);
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .bannerIMG {
    transform: translateX(100px);
  }
}
