@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Inter";
}
.btns {
  border: 0.5px solid rgb(53, 53, 53);
  border-radius: 20px;
  padding: 10px 20px;

  background-color: transparent;
}
.btn {
  transition: 0.2s;
}

.btn:hover {
  background-color: #e6533c;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background: black;
  color: white;
}

/* font setup from fiile  */
@font-face {
  font-family: "Miama";
  src: url("../font/Miama.ttf") format("truetype");
}

.activ {
  background-color: #e6533c !important;
}

/* nav desgin -------------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 0px 0px;
  color: white;
}

.logo {
  font-size: 30px;
  color: #e6533c;
  font-weight: bold;
  font-style: italic;
}

.navItems {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 10px;
  border: 0.5px solid rgb(36, 36, 36);
  border-radius: 50px;
  padding: 5px;
}

.navItems > li > a {
  text-decoration: none;
  color: white;
}
.navItems li {
  padding: 10px 20px;
  border-radius: inherit;
}

header {
  background: linear-gradient(
    0deg,
    black -20%,
    #000000e8 11%,
    #141414e8 50%,
    black 120%
  );
}

/* banner section design---------------------------- */



.MenuBTN {
  display: none;
}

/* banner desing------------------------- */
.banner {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.banner > * {
  width: 50%;
}

.bannerDetails > h1 {
  font-size: 5em;
  line-height: .9;
}


.bannerDetails>p{
    color: gray;
}
.bannerDetails{
    display: flex;
    gap: 28px;
    flex-direction: column;
    justify-content: center;
    
}
.bannerDetails > h1 > span {
    font-family: "Miama";
    font-size: 2em;
    font-weight: normal;
  }


.bannerIMG>img{
  width: 60%;

}
.bannerIMG{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.BannerVideos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
    backdrop-filter: blur(15px);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
    position: absolute;
    bottom: 80px;
    left: 50px;

}
.fa-play{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #e6533c;
    
}

.BannerVideos2{
    top: 220px;
    bottom: auto;
    right: 120px;
    left: auto;
    flex-direction: column;
    gap: 0;


}












/* responsive deisgn -----------------------------------------------------------------------------------------------00000000000 */

@media screen and (max-width: 576px) {
  .container {
    width: 92%;
    overflow: hidden;
  }
  .MenuBTN {
    display: inline-block;
  }

  .navItems {
    display: none;
  }
  .banner {
  
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .banner > * {
    width: 100%;
  }

  .btnss{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50x;
  }
  .btnss> button{
    width: 48%;
    padding: 15px;
  }

  .bannerDetails > h1 {
    font-size: 
    3em;}

    .BannerVideos{
     top: 220px;
     bottom: auto;
    }
    .BannerVideos2{
     top: 80px;
     bottom: auto;
     right: 50px;
    }
}

@media screen and (min-width: 577px) and (max-width:768px) {
  .container {
    width: 540px;
  }
  .banner {
  
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .banner > * {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .bannerDetails > h1 {
    font-size: 3em;}
    .BannerVideos{
      top: 220px;
      bottom: auto;
     }
     .BannerVideos2{
      top: 80px;
      bottom: auto;
      right: 20px;
     }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
  .bannerDetails > h1 {
    font-size: 4em;}
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
