@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Inter";
}
.btns {
  border: 0.5px solid rgb(53, 53, 53);
  border-radius: 20px;
  padding: 10px 20px;

  background-color: transparent;
}
.btn {
  transition: 0.2s;
}

.btn:hover {
  background-color: #e6533c;
}
a {
  text-decoration: none;
}
body {
  background: black;
  color: white;
}

/* font setup from fiile  */
@font-face {
  font-family: "Miama";
  src: url("../font/Miama.ttf") format("truetype");
}

.activ {
  background-color: #e6533c !important;
}

/* nav desgin -------------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 0px 0px;
  color: white;
}

.logo {
  font-size: 30px;
  color: #e6533c;
  font-weight: bold;
  font-style: italic;
}

.navItems {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 10px;
  border: 0.5px solid rgb(36, 36, 36);
  border-radius: 50px;
  padding: 5px;
}

.navItems > li > a {
  text-decoration: none;
  color: white;
}
.navItems li {
  padding: 10px 20px;
  border-radius: inherit;
}

header {
  background: linear-gradient(
    0deg,
    black -20%,
    #000000e8 11%,
    #141414e8 50%,
    black 120%
  );
}

/* banner section design---------------------------- */

.bannerDetails > h1 > span {
  font-family: "Miama";
  font-size: 70px;
}

.MenuBTN {
  display: none;
}

/* responsive deisgn -----------------------------------------------------------------------------------------------00000000000 */

@media screen and (max-width: 576px) {
  .container {
    width: 92%;
    overflow: hidden;
  }
  .MenuBTN {
    display: inline-block;
  }

  .navItems {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
